header {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto; 
    /* After I've got it working, I need to use Inspect > Element and hover off the sections I want to change to remove spacing. */ 
}

div { 
    border: 2px solid black;
    font-size: 30px;
    text-align: center; 
    width: auto;
    height: 200px; 
}

.bottom {
    display: flex;
    padding: auto;
    gap: auto;
    text-align: center;
    width: 50%;
}

#p2 {
    text-align: right;
}

